<div class="container" style="margin-bottom: 3%">
    <h1 *ngIf="!typeOfPage">Faculty Signup page</h1>
    <h1 *ngIf="typeOfPage">Faculty Edit</h1>
    <div  *ngFor="let error of errorList" class="alert alert-danger">Error in {{error}} field</div>
    <form [formGroup]="profileForm">
        <div class="form-group">
            <div class="col-lg-6">
              <label>
                  Designation:</label>
              <select class="form-control" formControlName="designation">
                <option>Lecture</option>
                <option>HOD</option>
                <option>Admin</option>
              </select>
            </div>
            <div class="col-lg-6">
                <label for="expYears">
                    Years of experiance:</label>
                    <input type="text" class="form-control validate" formControlName="expYears" id="expYears" formControlName="expYears" maxlength="2">
              </div>
          </div>
      <div class="form-group">
        <div class="col-lg-4">
          <label for="firstName">
            First Name:</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" maxlength="40">
        </div>
        <div class="col-lg-4">
          <label>
            Middle Name:</label>
          <input type="text" class="form-control" formControlName="middleName" maxlength="40">
        </div>
        <div class="col-lg-4">
          <label>
            Last Name:</label>
          <input type="text" class="form-control" formControlName="lastName" maxlength="40">
        </div>
      </div>
      <div class="form-group">
          <div class="col-lg-12">
            <label> Gender:</label>
            <div class="col-md-12">
              <label> Male:</label>
              <input type="radio" formControlName="gender" value="male"/>
            </div>
            <div class="col-md-12">
              <label> Female:</label>
              <input type="radio" formControlName="gender" value="female"/>
            </div>
          </div>
        </div>
      <div class="form-group">
        <div class="col-lg-12">
          <label>
            DOB:</label>
          <input type="date" class="form-control" formControlName="dob">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-12">
          <label>
            Permanent Address:</label>
          <input type="text" class="form-control" formControlName="addressP" maxlength="100">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6">
          <label>
            Annual Income:</label>
          <input type="text" class="form-control" formControlName="anIncome" maxlength="10">
        </div>
        <div class="col-lg-6">
          <label>
            category:</label>
          <input type="text" class="form-control" formControlName="category" maxlength="10">
        </div>
  
      </div>
      <div class="form-group">
        <div class="col-lg-6">
          <label>
            branch:</label>
          <select class="form-control" formControlName="branch">
            <option>Please select</option>
            <option *ngFor="let branch of branchList">
              {{branch}}
            </option>
          </select>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-lg-4">
          <label>
            Adhar Number:</label>
          <input type="text" class="form-control" formControlName="adhNumber" maxlength="10">
        </div>
        <div class="col-lg-4">
          <label>
            Mobile Number:</label>
          <input type="text" class="form-control" formControlName="mobileNumber">
        </div>
        <div class="col-lg-4">
          <label>
            Email:</label>
          <input type="email" class="form-control" formControlName="email" maxlength="20">
        </div>
        <div class="col-lg-4">
            <label>
              Password:</label>
            <input type="password" class="form-control" formControlName="password" maxlength="10">
          </div>
      </div>
      <div class="form-group">
        <div class="col-lg-12">
          <label>
            photo:</label>
            <input #stdphoto type="file" class="form-control" formControlName="photo" 
            (change)="selectFile($event)"/>
        </div>
      </div>
      <div class="form-group"></div>
      <div class="form-group">
        <div class="col-lg-12" style="text-align: center; margin-top: 2%" *ngIf="!typeOfPage">
          <button type="button" class="btn btn-default" (click)="submit()">Submit</button>
        </div>
        
        <div class="col-lg-12" style="text-align: center; margin-top: 2%" *ngIf="typeOfPage">
            <button type="button" class="btn btn-default" (click)="editFaculty()">Edit</button>
          </div>
      </div>
    </form>
  </div>