<div class="navbar navbar-inverse" style="background-color: rgb(193, 193, 196)">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right mainNav">
        <li class="active"><a href="#" style="color: black">Home</a></li>

        <li *ngIf="whoLogged == 'faculty'"><a href="/faculty" style="color: black">My Page</a></li>
        <li *ngIf="whoLogged == 'Student'"><a href="/student" style="color: black">My Page</a></li>
        <li *ngIf="whoLogged == 'Admin'"><a href="/admin" style="color: black">My Page</a></li>
        <!-- <li><a href="courses.html">Courses</a></li> -->
        <li><a href="/trans" style="color: black">Transportation</a></li>

        <!-- <li><a href="videos.html">Videos</a></li> -->
        <!-- <li><a href="contact.html">Contact</a></li> -->
        <li><a href="" *ngIf="!loginUser" data-toggle="modal" (click)="logInModal()"
            data-target="#modalLoginForm" style="color: black">Login</a>
          <a href="" *ngIf="loginUser" (click)="logOut()" style="color: black">LogOut</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<router-outlet></router-outlet>


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="" aria-labelledby="myModalLabel" aria-hidden="true"
  *ngIf="showModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{userStatus}}</h4>
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="profileForm">
        <div class="modal-body mx-3">

          <div class="md-form mb-5">
            <select class="form-control" formControlName="who" (change)="changeRole()">
              <option>Student</option>
              <option>faculty</option>
              <option>Admin</option>
            </select>
            <label> Select Role</label>
          </div>
          <div class="md-form mb-5">

            <input type="text" id="defaultForm-email" formControlName="userName" class="form-control validate" />
            <label data-error="wrong" data-success="right" for="defaultForm-email" *ngIf="role">Your USN</label>
            <label data-error="wrong" data-success="right" for="defaultForm-email" *ngIf="!role">Your Email</label>
            <div *ngIf="!userName.valid && (userName.dirty || userName.touched)" class="alert alert-danger">
              <div *ngIf="userName.errors.required">
                <div *ngIf="role">USN is required.</div>
                <div *ngIf="!role">EMAIL is required.</div>
              </div>
            </div>
          </div>

          <div class="md-form mb-4">
            <!-- <i class="fas fa-lock prefix grey-text"></i> -->
            <input type="password" id="defaultForm-pass" formControlName="password" class="form-control validate" />
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your
              password</label>
            <div *ngIf="!password.valid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default" (click)="login()">Login</button>
        </div>
      </form>
      <p style="text-align: center" (click)="signUpStudent()"><a routerLink="/studentSignup">Student signup</a></p>
      <p style="text-align: center" (click)="signUpFac()"><a routerLink="/facultySignup">Faculty signup </a></p>
    </div>
  </div>
</div>

<!--  -->
<div *ngIf="showError">
  <div class="" id="errorWidow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <!-- <h4 class="modal-title w-100 font-weight-bold">{{userStatus}}</h4> -->
          <h4 class="modal-title w-100 font-weight-bold">Error</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <form [formGroup]="profileForm"> -->
        <div class="modal-body mx-3">
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>