<!-- <div class="container"> -->
<div class="wrapper">
  <div class="col-lg-4">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Welcome Admin {{ facInfo.fName }}</h3>
        <img
          src="data:image/jpeg;base64,{{ facInfo.photo }}"
          style="width: 100%; height: 100%"
        />
        <ul class="list-unstyled components">
          <li>
            <a routerLink="/facultySignup">Edit profile</a>
          </li>
        </ul>
      </div>

      <ul class="list-unstyled components">
        <li (click)="enableUsers()">
          <a
            href=""
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            >Enable users</a
          >
        </li>
        <li (click)="uploadEvent()">
          <a
            href=""
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            >upload events</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-6">
    <!-- Page Content -->
    <!-- <div id="content"> -->
    <!-- <h2>List of Contents</h2> -->
    <p></p>
    <!-- <div class="container"> -->
    <h1>Admin activity</h1>
    <h2 *ngIf="showListOfStudents">List of Sudents</h2>
    <button *ngIf="showListOfStudents" (click)="disableSelctedStu('true')">Enable</button>
    <button *ngIf="showListOfStudents" (click)="disableSelctedStu('false')">Disable</button>
    <table class="table" style="max-height: 200px; position: relative; overflow-y: scroll">
      <thead *ngIf="showListOfStudents">
        <th> student name</th>
        <th> student branch</th>
        <th> select to permission</th>
      </thead>
        <tbody *ngFor="let stu of listOfStudents; let i = index">
          <tr>
            <td>{{stu.fName}}</td>
            <td>{{stu.branch}}</td>
            
            <td><input type="checkbox" value="student-{{stu.usn}}"  (change)="selected($event)"/></td>
            <td>Student profile is <p *ngIf="stu.active === true">Active</p> <p *ngIf="stu.active !== true">Disabled</p></td>
            <!-- <td><a href="http://localhost:8080/college/downloadAssignment/{{assignments.fileName}}" ><div >Download File</div></a></td> -->
          </tr>
        </tbody>
      </table>
      
    <h2 *ngIf="showListOfFaculty">List of faculty</h2>
    <table class="table" style="max-height: 200px; position: relative; overflow-y: scroll">
        <tbody *ngFor="let fac of listOffaculty; let i = index">
          <tr>
            <td>{{fac.fName}}</td>
            <td>{{fac.mNumber}}</td>
            <td><input type="checkbox" value="fac-{{fac.email}}"  (change)="selected($event)"/></td>
            <td>Student profile is <p *ngIf="fac.active === true">Active</p> <p *ngIf="fac.active !== true">Disabled</p></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
