<header id="head">
  <div class="container">
    <div class="heading-text" style="background-color: red">
      <h1 class="animated flipInY delay1">Education</h1>
      <p>Enter any caption you need.</p>
    </div>
  </div>
</header>
<div class="container">
  <h3>Events</h3>
    <div class="row" style="position: relative;
    overflow: auto; max-width: 1000px;">
      <div *ngFor="let event of events">
        <div class="col-md-2" style=" border: 1px solid rgb(212, 196, 196);">
          <div>
            <h5> {{event.eventType}}</h5>
            <p> {{event.eventDetails}}</p>
          </div>
        </div>
         
        </div>
    </div>
  <div class="row">
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="assets/images/1.png" alt="" />
        </div>
        <!--icon box top -->
        <h4>Online Courses</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          tempus eleifend risus ut congue eset nec lacus elit dor broma.
        </p>
        <p>
          <a href="#"><em>Read More</em></a>
        </p>
      </div>
      <!--grey box -->
    </div>
    <!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="assets/images/2.png" alt="" />
        </div>
        <!--icon box top -->
        <h4>Meet our Staff</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          tempus eleifend risus ut congue eset nec lacus elit dor broma.
        </p>
        <p>
          <a href="#"><em>Read More</em></a>
        </p>
      </div>
      <!--grey box -->
    </div>
    <!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="assets/images/3.png" alt="" />
        </div>
        <!--icon box top -->
        <h4>Latest Updates</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          tempus eleifend risus ut congue eset nec lacus elit dor broma.
        </p>
        <p>
          <a href="#"><em>Read More</em></a>
        </p>
      </div>
      <!--grey box -->
    </div>
    <!--/span3-->
    <div class="col-md-3">
      <div class="grey-box-icon">
        <div class="icon-box-top grey-box-icon-pos">
          <img src="assets/images/4.png" alt="" />
        </div>
        <!--icon box top -->
        <h4>Placements</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          tempus eleifend risus ut congue eset nec lacus elit dor broma.
        </p>
        <p>
          <a href="#"><em>Read More →</em></a>
        </p>
      </div>
      <!--grey box -->
    </div>
    <!--/span3-->
  </div>
</div>
<section class="news-box top-margin">
  <div class="container testimonial-group">
    <h2><span>Alerts/ News feeds</span></h2>
    <div class="row text-center">
        <!-- <marquee behavior="" direction="left">
        <div class="col-lg-4 ">
        <div class="newsBox">
          <div class="thumbnail">
            <figure><img src="assets/images/news2.jpg" alt="" /></figure>
            <div class="caption maxheight2">
              <div class="box_inner">
                <div class="box">
                  
                  <p>
                    Lorem ipsum dolor sit amet, conc tetu er adipi scing.
                    Praesent ves tibuum molestie lacuiirhs. Aenean.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </marquee> -->
      <marquee behavior="" direction="left">
      <div class="col-lg-4">
          <div class="newsBox">
              <div class="thumbnail">
                  <figure><img src="assets/images/news3.jpg" alt=""></figure>
                  <div class="caption maxheight2">
                  <div class="box_inner">
                              <div class="box">
                                  <!-- <p class="title"><h5>Photography   </h5></p> -->
                                  <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                              </div> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </marquee>

    </div>
  </div>
</section>
