<div class="row">
    <div class="card">
      <div class="card-header">
        <h6 style="text-align: center">Fuel Data</h6>
      </div>
  
  
      <div class="card-body">
        <table id="example" class="table1" style="width:100%">
          <thead>
            <tr>
              <th>Vehicle No.</th>
              <th>Policy No.</th>
              <th>Name of Company</th>
              <th>Expiry Date</th>
              <th>Renewal Date</th>
              <th>Amount of Insurance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of vehicleLog ">
  
  
              <td><input type="number" id="row-1-vnumber" name="row-1-vnumber" placeholder="number"
                  value="{{log.fuelBillNbr}}" readonly></td>
              <td><input type="number" id="row-1-pnumber" name="row-1-pnumber" placeholder="number"
                  value="{{log.fuelHSD}}" readonly></td>
              <td><input type="date" id="row-1-pnumber" name="row-1-pnumber" placeholder="number"
                  value="{{log.fuelFilldate}}" readonly></td>
                  <!-- <td><input type="number" id="row-1-pnumber" name="row-1-pnumber" placeholder="number"
                    value="{{log.actual}}" readonly></td> -->
              <td><input type="text" id="row-1-expdate" name="row-1-expdate" value="{{log.fuelPro}}" readonly></td>
              <!-- <td><input type="text" id="row-1-expdate" name="row-1-expdate" value="{{log.kmpl}}" readonly></td> -->
              <td><input type="number" id="row-1-amt" name="row-1-amt" value="{{log.insBill}}" readonly></td>
            </tr>
          </tbody>
  
        </table>
  
      </div>
    </div>
  
  </div>